/* main.css - Tom Peregrine: 19/09/2015 */

body, html {
	padding: 0%;
	margin: 0%;
	font-family: 'Source Sans Pro', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.title {
	font-size: 2.5em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

#input {
	margin: 1%;
	width: 48%;
	min-height: 52px;
	float: left;
	resize: none;
	box-sizing: border-box;
	border-radius: 5px;
	border-width: 2px;
	padding: 5px;
	transition: 0.5s;
}

#input:focus {
	border-width: 5px;
}

#input:active, #input:hover, #input:focus {
	border-radius: 10px;
}

#preview {
	float: right;
	width: 48%;
}

.editor-container {
	padding: 2%;
	overflow: hidden;
}

@media (max-width: 600px) {
  #input {
		float: none;
		width: 98%;
	}

	#preview {
		float: none;
		width: 98%;
	}
}